In [1]:
#importamos las librerias que van a hacer falta
import pandas as pd

In [2]:
#abrimos la encuesta
encuesta=pd.read_csv("../trabajo final macroencuesta/DA3242",delimiter= '\t', header=None)

In [3]:
#una peculiaridad que tiene es que las columnas no están separadas por un simbolo sino que están juntas 
#y en el libro de código te indica donde empieza y termina una columna
encuesta.head()

                                                   0
0  3242    116 1 5951 0  0   01124321313 818 8121...
1  3242    216 1 5951 0  0   012333128 11898 1451...
2  3242    316 1 5951 0  0   014454799 1192219229...
3  3242    416 1 5951 0  0   01133317919 198 1 91...
4  3242    516 1 5951 0  0   099939138 1181212189...

In [4]:
#Creamos el diccionario con el nombre de las columnas y donde se realizan los cortes 
columnas={"ESTU": [1,4], "CUES": [5,9], "CCAA":[10,11], "PROV": [12,13], "MUN": [14,16], "TAMUNI": [17,17], "CAPITAL": [18,18], "DISTR": [19,20], "SECCION": [21,23],"ENTREV": [24,27], "P0A": [28,28], "P1": [29,29], "P2": [30,30], "P3": [31,31], "P4": [32,32], "P501": [33,33], "P502": [34,34], "P503": [35,35], "P601": [36,37], "P602": [38,39], "P603": [40,41],"P701": [42,43], "P702": [44,45], "P703": [46,47], "P801": [48,48], "P802": [49,49], "P803": [50,50], "P804": [51,51], "P805": [52,52], "P806": [53,53], "P807": [54,54], "P808": [55,55],"P809": [56,56], "P810": [57,57], "P811": [58,58], "P812": [59,59], "P813": [60,60], "P814":[61,61], "P815": [62,62], "P816": [63,63], "P9": [64,64], "P9A":[65,65], "P9B01": [66,67], "P9B02": [68,69],"P10": [70,71], "P10A": [72,73], "P1101": [74,75], "P1102": [76,77], "P1103": [78,79], "P1104": [80,81], "P1105": [82,83], "P1106": [84,85],"P12":[86,87], "P1301": [88,89], "P1302": [90,91], "P1303": [92,93], "P1304": [94,95], "P1305": [96,97], "P1306": [98,99], "P1307": [100,101],"P1308": [102,103], "P1309": [104,105], "P1310": [106,107], "P1311": [108,109], "P1312": [110,111], "P1313": [112,113], "P1314": [114,115],"P1315": [116,117], "P1316": [118,119], "P1317": [120,121], "P1318": [122,123], "P1319": [124,125], "P1320": [126,127], "P14": [128,129],"P15": [130,131], "P16": [132,133], "P17": [134,135], "P18": [136,136], "P18A": [137,138], "P19": [139,140], "P2001": [141,142], "P2002": [143,144],"P2003": [145,146], "P2004" :[147,148], "P2005": [149,150], "P2006": [151,152], "P2007": [153,154], "P2008": [155,156],"P2009": [157,158],"P2010": [159,160], "P2011": [161,162], "P2012": [163,164], "P2013": [165,166], "P2014": [167,168], "P2015": [169,170], "P2016": [171,172],"P2017": [173,174], "P2018": [175,176], "P2019": [177,178], "P2020": [179,180], "P21": [181,182], "P21A": [183,184], "P22": [185,185], "P23": [186,187],"P24": [188,188], "P24A": [189,190], "P25": [191,191], "P25A":[192,193], "P26":[194,194], "P27": [195,195], "P28": [196,196], "P29": [197,197], "P30": [198,198], "P30A": [199,199], "P31":[200,200],"E101": [201,202], "E102": [203,204], "E103": [205,206], "E2": [207,209], "E3": [210,210], "C1": [211,211], "C1A": [212,213], "PESO": [214,220],"P9BCOMR": [221,224], "P10R": [225,226], "P10AR": [227,228], "VOTOSIMG": [229,230], "P18AR": [231,232], "RECUERDO": [233,234], "P9BCOM": [235,238],"P14R": [239,240], "P15R": [241,242], "P16R": [243,244], "ESTUDIOS": [245,245], "PESOCCAA": [246,252]}

In [5]:
#ordenamos el diccionario
#import operator
#columnas = {}
#resultado = sorted(diccionario_cortes.items(), key=operator.itemgetter(1))
#for item in resultado:
## Entre llaves se ingresa la nueva clave que se obtiene de cada elemento de la lista resultante
## y se pide el elemento 0 de cada uno que correspondería a la clave
    #nueva_clave = item[0]
## Mientras que en la tupla la posicion 1 guarda la informacion correspondiente al valor
    #nuevo_valor = item[1]
    #columnas[nueva_clave] = nuevo_valor

In [6]:
#aplicamos los intervalos del diccionario en el dataFrame que hemos obtenido para poder crear las columnas
def get_intervals(x, a, b): 
    try: 
        return x[a:b]
    except: 
        print(x, a, b)

for a in columnas:
    encuesta[a] = encuesta[0].apply(lambda x: get_intervals(x, columnas[a][0]-1, columnas[a][1]))
encuesta.head()

,0,P14,P18,P18AR,P14R,P21,SECCION,P19,P2015,P30A,...,P18A,P9BCOM,P807,P2006,P10,P1307,P701,CCAA,P2004,P2005
0,3242 116 1 5951 0 0 01124321313 818 8121...,2,1,2,2,5,0,4,0,0,...,2,0,8,10,94,0,8,16,6,3
1,3242 216 1 5951 0 0 012333128 11898 1451...,1,1,1,1,1,0,6,0,0,...,1,0,5,8,1,98,1,16,6,1
2,3242 316 1 5951 0 0 014454799 1192219229...,97,5,0,97,97,0,98,0,0,...,0,0,5,98,97,0,19,16,98,98
3,3242 416 1 5951 0 0 01133317919 198 1 91...,3,5,0,3,6,0,4,0,0,...,0,0,8,10,2,1,1,16,6,2
4,3242 516 1 5951 0 0 099939138 1181212189...,5,5,0,5,98,0,4,0,0,...,0,0,3,6,94,1,12,16,5,4

In [7]:
#Eliminamos la columna 0, dado que ya no nos sirve
def drop(data,condicion,axis=1,inplace=True):
    return data.drop(condicion, axis=1, inplace=True)
drop(encuesta,0)

In [8]:
#convertimos las columnas en numericas 
def get_numeric(x):
    try:
        return int(x)
    except:
        return 0
for a in columnas:
    encuesta[a] = encuesta[a].apply(get_numeric)
    
encuesta.head()

,P14,P18,P18AR,P14R,P21,SECCION,P19,P2015,P30A,P702,...,P18A,P9BCOM,P807,P2006,P10,P1307,P701,CCAA,P2004,P2005
0,2,1,2,2,5,0,4,0,0,12,...,2,0,8,10,94,0,8,16,6,3
1,1,1,1,1,1,0,6,0,0,45,...,1,0,5,8,1,98,1,16,6,1
2,97,5,0,97,97,0,98,0,0,22,...,0,0,5,98,97,0,19,16,98,98
3,3,5,0,3,6,0,4,0,0,9,...,0,0,8,10,2,1,1,16,6,2
4,5,5,0,5,98,0,4,0,0,18,...,0,0,3,6,94,1,12,16,5,4

In [9]:
#seleccionamos las columnas que no nos interesan
columnas_para_eliminar=("ESTU","CUES","PROV","MUN","DISTR","SECCION","ENTREV","P501","P502","P503","P601","P602","P603","P701","P702","P703","P805","P806","P807","P808","P809","P810","P811","P812","P813","P814","P815","P816","P9","P9A","P9B01","P9B02","P10","P1101","P1102","P1103","P1104","P1105","P1106","P1305","P1306","P1307","P1308","P1309","P1310","P1311","P1312","P1313","P1314","P1315","P1316","P1317","P1318","P1319","P1320","P14","P15","P16","P17","P18","P18A","P2005","P2006","P2007","P2008","P2009","P2010","P2011","P2012","P2013","P2014","P2015","P2016","P2017","P2018","P2019","P2020","P21","P21A","P24A","P25A","P29","P30","P30A","P31","E101","E102","E103","E2","E3","C1","C1A","VOTOSIMG","RECUERDO","P9BCOM","P15R","P16R","P10AR","P9BCOMR","P10A","P24","P10R","P12","P18AR","PESO","PESOCCAA")
for a in columnas_para_eliminar:
    drop(encuesta,a)

In [10]:
encuesta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16194 entries, 0 to 16193
Data columns (total 29 columns):
P14R        16194 non-null int64
P19         16194 non-null int64
TAMUNI      16194 non-null int64
P1304       16194 non-null int64
P804        16194 non-null int64
P803        16194 non-null int64
ESTUDIOS    16194 non-null int64
P2003       16194 non-null int64
P802        16194 non-null int64
P2001       16194 non-null int64
P2002       16194 non-null int64
P1          16194 non-null int64
P1302       16194 non-null int64
P26         16194 non-null int64
P22         16194 non-null int64
P1301       16194 non-null int64
P28         16194 non-null int64
P4          16194 non-null int64
CAPITAL     16194 non-null int64
P801        16194 non-null int64
P27         16194 non-null int64
P3          16194 non-null int64
P23         16194 non-null int64
P0A         16194 non-null int64
P1303       16194 non-null int64
P25         16194 non-null int64
P2          16194 non-null int64
CCAA        16194 non-null int64
P2004       16194 non-null int64
dtypes: int64(29)
memory usage: 3.6 MB

In [11]:
encuesta.P19.value_counts()

5     3399
3     2270
4     2205
98    1562
6     1519
7     1099
99     945
2      911
1      857
8      852
9      327
10     248
Name: P19, dtype: int64

In [33]:
limpieza9=("ESTUDIOS","P0A","P1","P2","P3","P4","P801","P802","P803","P804","P23","P25","P26","P27","P28")
limpieza99=("P1301","P1302","P1303","P1304","P14R","P2001","P2002","P2003","P2004",)

In [34]:
def drop_file(data,pregunta,valor):
    data = data[data[pregunta] != valor]
    return data

In [41]:
#Eliminación de NC-8 ó 88 y NS - 9 ó 99
for a in limpieza9:
    encuesta = drop_file(encuesta,a,8)
    encuesta = drop_file(encuesta,a,9)
for a in limpieza99:
    encuesta = drop_file(encuesta,a,88)
    encuesta = drop_file(encuesta,a,98)
    encuesta = drop_file(encuesta,a,99)

In [42]:
#elimnación según peculiaridades de las preguntas
#quitar de Estudios "otros"
encuesta = drop_file(encuesta,"ESTUDIOS",7)
encuesta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7417 entries, 0 to 16191
Data columns (total 29 columns):
P14R        7417 non-null int64
P19         7417 non-null int64
TAMUNI      7417 non-null int64
P1304       7417 non-null int64
P804        7417 non-null int64
P803        7417 non-null int64
ESTUDIOS    7417 non-null int64
P2003       7417 non-null int64
P802        7417 non-null int64
P2001       7417 non-null int64
P2002       7417 non-null int64
P1          7417 non-null int64
P1302       7417 non-null int64
P26         7417 non-null int64
P22         7417 non-null int64
P1301       7417 non-null int64
P28         7417 non-null int64
P4          7417 non-null int64
CAPITAL     7417 non-null int64
P801        7417 non-null int64
P27         7417 non-null int64
P3          7417 non-null int64
P23         7417 non-null int64
P0A         7417 non-null int64
P1303       7417 non-null int64
P25         7417 non-null int64
P2          7417 non-null int64
CCAA        7417 non-null int64
P2004       7417 non-null int64
dtypes: int64(29)
memory usage: 1.7 MB

In [43]:
#Estas variables la escala en la cual están medidas es inversa,es decir, la mejor valoración es el número 
#mas bajo, por lo que voy a múltiplicarlas por -1 para dar la vuelta a este fenómeno
inver_valores=("P1","P2","P3","P801","P802","P803","P804")

In [44]:
def inversion(data,columna):
    data[columna] = data[columna]*-1
    return data

In [45]:
for columna in inver_valores:
    encuesta = inversion(encuesta,columna)

In [48]:
encuesta.describe()

,P14R,P19,TAMUNI,P1304,P804,P803,ESTUDIOS,P2003,P802,P2001,...,P801,P27,P3,P23,P0A,P1303,P25,P2,CCAA,P2004
count,7417.000000,7417.000000,7417.000000,7417.000000,7417.000000,7417.000000,7417.000000,7417.000000,7417.000000,7417.000000,...,7417.000000,7417.000000,7417.000000,7417.000000,7417.00000,7417.000000,7417.000000,7417.000000,7417.000000,7417.000000
mean,21.871511,8.403128,3.550492,2.146016,-3.769179,-3.861399,4.185924,2.354321,-3.607793,8.140218,...,-3.867332,1.286369,-4.013078,49.105703,1.02292,1.795874,2.193744,-2.202777,8.057705,6.950924
std,36.135754,18.733024,1.601195,2.814972,0.932804,0.943204,1.508633,1.468605,0.944386,1.472334,...,1.012426,0.452094,0.870508,16.440640,0.14966,2.684280,1.729893,1.034141,4.849951,1.790472
min,1.000000,1.000000,1.000000,0.000000,-5.000000,-5.000000,1.000000,1.000000,-5.000000,1.000000,...,-5.000000,1.000000,-5.000000,18.000000,1.00000,0.000000,1.000000,-4.000000,1.000000,1.000000
25%,2.000000,3.000000,2.000000,0.000000,-5.000000,-5.000000,3.000000,1.000000,-4.000000,7.000000,...,-5.000000,1.000000,-5.000000,37.000000,1.00000,0.000000,1.000000,-3.000000,4.000000,6.000000
50%,4.000000,5.000000,3.000000,0.000000,-4.000000,-4.000000,4.000000,2.000000,-4.000000,8.000000,...,-4.000000,1.000000,-4.000000,48.000000,1.00000,0.000000,1.000000,-2.000000,8.000000,7.000000
75%,17.000000,6.000000,5.000000,5.000000,-3.000000,-3.000000,6.000000,3.000000,-3.000000,9.000000,...,-3.000000,2.000000,-3.000000,61.000000,1.00000,4.000000,3.000000,-1.000000,12.000000,8.000000
max,97.000000,99.000000,7.000000,10.000000,-1.000000,-1.000000,6.000000,10.000000,-1.000000,10.000000,...,-1.000000,2.000000,-1.000000,95.000000,2.00000,10.000000,7.000000,-1.000000,19.000000,10.000000